---
---

{% if 'xml' == 'xml' %}
{% assign section = '7' %}
{% elsif 'xml' == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
{% include fragment-base-navtabs.html type='Condition' id='ConditionExample' active='xml' %}

<a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
<h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title | escape_once}}</h2>
{% include fragment-simpletable.html %}

<p><a href="Condition-ConditionExample.xml" no-download="true">Raw xml</a> | <a href="Condition-ConditionExample.xml" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='Condition' id='ConditionExample' %}

  {% include Condition-ConditionExample-xml-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='Condition' id='ConditionExample' %}

</div>
{% include fragment-pageend.html %}
