---
---
<!-- get modelType -->
{% include fragment-modelType.html id='EncounterCaseReference' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='EncounterCaseReference' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: EncounterCaseReference - Detailed Descriptions</h2>
{% include fragment-simpletable.html %}

<p>Definitions for the EncounterCaseReference {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='EncounterCaseReference' %}

  {%include StructureDefinition-EncounterCaseReference-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='EncounterCaseReference' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
